.popup {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: #202020c1;
    z-index: 150;
    top: 0;
    left: 0;
    opacity: 0;
    
    pointer-events: none;
    transition: opacity .3s;

    .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        padding: 20px;
        
        max-width: 500px;
        width: 95vw;
        max-height: 90vh;
        min-height: 10vh;
        height: fit-content;

        background: white;
        border-radius: 20px;
        overflow: auto;
        
        transform: scale(0);
        transition: transform .3s;
    }
}

.popup.active {
    pointer-events: all;
    opacity: 1;

    .content {
        transform: scale(1);
    }
}

.closeWrapper {
    display: block;
    position: fixed;
    width: 30px;
    height: 30px;
    top: 0;
    right: 10%;
    font-size: 40px;
    z-index: 80;
}

.closeContainer {
    position: absolute;
    padding: 10px;
    cursor: pointer;
    font-weight: light;
}
