.wrapper {
    position: fixed;
    // background: #fff;
    bottom: 0;
    margin: 0 auto;
    max-width: 600px;
    max-height: 200px;
    overflow: auto;
    width: 100%;
    z-index: 30;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
